@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: white;
  margin: auto 0;
  width: 90%;
  min-height: 70%;
  border-radius: 20px;
}

.qa-container {
  list-style: none;
  padding: 1em;
  font-size: 16px;
  margin: 0;
  min-height: 75;
}
.qa-container > h1 {
  text-align: center;
  font-weight: 700;
}

.qa {
  border-bottom: 2px solid hsl(240, 5%, 91%);
}

.question {
  color: hsl(240, 6%, 50%);
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
  padding: 0.5em;
}

.question-open {
  color: black;
  font-weight: bold;
}
.answer {
  color: hsl(240, 6%, 50%);
  display: none;

  padding: 0px 0.5em 0 0.5em;
}
.open {
  display: block;
}
.flip {
  transform: rotate(180deg);
}

.hero-container {
  height: 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.faq-hero {
  position: relative;
  width: 15em;
}

.faq-hero-pattern {
  position: relative;
  transform: translate(0px, -60px);
}

.box-desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;

    align-items: center;
    width: 80%;
  }
  .hero-container {
    width: 50%;
  }
  .qa-container {
    width: 50%;
  }
  .qa-container > h1 {
    text-align: left;
  }
  .hero-container {
    overflow: hidden;
    height: 100%;
  }

  .faq-hero {
    position: absolute;
    width: 30em;
    top: 25%;
    right: 65%;
  }
  .faq-hero-pattern {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .box-desktop {
    display: block;
    position: absolute;
    top: 45%;
    z-index: 2;
    left: 5%;
  }
}
